<div class="header">
	<label class="search-category input-group">
		<i class="ti-search input-group-addon"></i>
		<input type="text" id="search-keyword" ng-model="inquiry.keyword" class="keyword" placeholder="검색">
	</label>
	<div id="fn-buttons">
		<a ng-click="remove()" class="ti-trash" title="보고있는 글 지우기"></a>
		<a ng-click="writeBoard('edit')" class="ti-pencil-alt" title="보고있는 글 고치기"></a>
		<a ng-click="writeBoard('new')" class="ti-pencil" title="새로운 글 쓰기"></a>
	</div>
</div>

<div class="pan">
	<div class="col list">
		<div class="search-types">
			<ul id="search-type">
				<li>제목</li>
				<li>내용</li>
				<li>댓글</li>
				<li class="active">모두</li>
			</ul>
		</div>
		<div class="list-info">
			<div class="row-count">모두 <span ng-bind="list.length"></span>개</div>
			<div class="list-order dropdown">
				<a data-toggle="dropdown">
					<span class="order-type">최근 작성한 순서</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a data-order-type="UPDATED"><i class="empty"></i> 최근 작성한 순서</a></li>
					<li><a data-order-type="READED"><i class="empty"></i> 많이 읽힌 순서</a></li>
					<li><a data-order-type="COMMENT"><i class="empty"></i> 댓글을 많이 작성한 순서</a></li>
					<li class="divider"></li>
					<li><a data-order="DESC"><i class="ti-check"></i> 내림차순</a></li>
					<li><a data-order="ASC" ><i class="empty"></i> 오름차순</a></li>
				</ul>
			</div>
		</div>
		<div id="article-list">
			<ul class="article-items">
				<li ng-repeat="item in list">
					<div class="article-info" id="list_item_{{$index}}">
						<i class="{{item.icon}}"></i>
						<span class="article-corp">
							{{item.writer.name}}
							<span class="article-group">{{item.writer.groupName}}</span>
						</span>
						<span class="article-comment">{{item.comment||""}}</span>
						<a class="article-title" ng-click="selectArticle($event, item)">{{item.title}}</a>
						<span class="article-time"><i class="glyphicon glyphicon-time"></i> {{item.updated|date:"M월 d일"}}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col view">
		<div class="article-area">
			<div class="article-header">
				<h1 class="article-title">{{article.title}}</h1>
				<div class="article-info">
					<span class="article-updated">{{article.updated|date:"yyyy년 M월 d일 H시 m분"}}</span>
					<a ng-click="goReply()" class="article-reply"><i class="ti-comment"></i> 댓글보기</a>
				</div>
				<div class="article-empty">
					<i class="ti-clipboard"></i>
					<div>글 목록에서 하나를 선택하세요.</div>
				</div>
			</div>
			<div class="article-body">
				<div id="article-content">
					<div ng-bind-html="article.content"></div>
					<fieldset id='reply' name='reply'>
						<legend class='title'>
							<span class='count'>{{replies.length}}</span>개의 댓글
						</legend>
						<form method="post" name="reply" ng-submit="reply.$valid && saveReply()">
							<textarea ng-model="reply.content" placeholder="댓글을 입력해 주세요." required></textarea>
							<button ng-disabled="reply.$invalid">저장</button>
						</form>

						<div ng-repeat="item in replies" class='comment'>
							<span class='name'>{{item.writer.name}}</span>
							<span class='corp'>{{item.writer.groupName}}</span>
							<p class='content'>{{item.content}}</p>
							<span class='date'>
								{{item.updated | date:"yyyy-MM-dd HH:mm"}}
								<a ng-click="removeReply(item)" ng-if="iam.id == item.writer.id">삭제</a>
							</span>
						</div>

						<div class="waiting waiting-reply">
							<div class="waiting-circle">
								<svg class="waiting-circle" viewBox="25 25 50 50">
							      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
							    </svg>
						    </div>
							<div class="waiting-message"></div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="write-board" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">새로운 글쓰기</h4>
			</div>

			<form method="post" name="save" action="/board/save" target="for-save" enctype="multipart/form-data" class="modal-body" novalidate>
				<div class="form-group">
					<label for="title"><span>제목</span></label>
					<div><input type="text" id="title" name="title" class="form-control"></div>
				</div>

				<div class="form-group">
					<label for=""><span>첨부파일</span></label>
					<div class="file-area"><input type="file" id="attachfile" name="attachfile" multiple="multiple"></div>
					<ol class="file-attached">
						<li ng-repeat="file in attachedFile">
							<a href="">{{file.name}}</a>
							<button type="button" class="close" title="삭제"><span>&times;</span></button>
						</li>
					</ol>
				</div>

				<div id="content-editor"></div>

				<div class="btn-area">
					<button type="submit" class="btn btn-primary">저장</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
				<input type="hidden" name="content" id="write-content">
				<input type="hidden" name="group" id="write-group">
				<input type="hidden" name="writer">
				<input type="hidden" name="no">
			</form>
		</div>
	</div>
	<iframe name="for-save" class="conceal"></iframe>
</div>

<div class="waiting">
	<div class="waiting-circle">
		<svg class="waiting-circle" viewBox="25 25 50 50">
	      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
	    </svg>
    </div>
	<div class="waiting-message"></div>
</div>