<div class="header">
	<label class="search-category input-group">
		<i class="ti-search input-group-addon"></i>
		<input type="text" id="search-keyword" ng-model="inquiry.keyword" class="keyword" placeholder="검색">
	</label>
	<div id="fn-buttons">
		<a href="/reply/file/{{article.no}}/doc" ng-click="validFilePath($event)" target="for-download" title="워드파일 내려받기" class="bold"><img src="/img/doc.png"></a>
		<a href="/reply/file/{{article.no}}/hwp" ng-click="validFilePath($event)" target="for-download" title="한글파일 내려받기" class="bold"><img src="/img/hwp.png"></a>
		<a ng-click="remove()" class="grade-A inline ti-trash" title="보고있는 회신문 지우기"></a>
		<a ng-click="writeReply('edit')" class="grade-A inline ti-pencil-alt" title="보고있는 회신문 고치기"></a>
		<a ng-click="writeReply('new')" class="grade-A inline ti-pencil" title="새로운 회신문 쓰기"></a>
		<a></a>
	</div>
	<div id="rank">
		<div class="rank-caption"><i class="ti-stats-up"></i> 열람순위</div>
		<ol class="rank-list">
			<li ng-repeat="pop in popular"><a ng-click="selectArticle(null, pop)">{{pop.title}}</a></li>
		</ol>
	</div>
</div>
<iframe name="for-download" class="conceal"></iframe>

<div class="pan">
	<div class="col list">
		<div class="search-types">
			<ul id="search-type">
				<li data-search-by="TITLE">제목</li>
				<li data-search-by="CONTENT">내용</li>
				<li data-search-by="COMMENT">댓글</li>
				<li data-search-by="ALL" class="active">모두</li>
			</ul>
		</div>
		<div class="list-info">
			<div class="row-count">모두 <span id="rowCount">0</span>개</div>
			<div class="list-order dropdown">
				<a data-toggle="dropdown">
					<span id="order-by">항목 분류 순서</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a data-order-by="CATE_ORD"><i class="empty"></i> 항목 분류 순서</a></li>
					<li><a data-order-by="UPDATED"><i class="empty"></i> 작성한 시간 순서</a></li>
					<li><a data-order-by="READED"><i class="empty"></i> 많이 읽힌 순서</a></li>
					<li><a data-order-by="COMMENT"><i class="empty"></i> 댓글을 많이 작성한 순서</a></li>
					<li class="divider"></li>
					<li><a data-order-method="DESC"><i class="empty"></i> 내림차순</a></li>
					<li><a data-order-method="ASC" ><i class="ti-check"></i> 오름차순</a></li>
				</ul>
			</div>
		</div>
		<div id="article-list">
			<ul class="article-items">
				<li ng-repeat="item in list">
					<div class="article-info" id="list_item_{{$index}}">
						<i class="{{item.icon}}"></i>
						<!-- <div class="article-comment">{{item.comment||""}}</div> -->
						<a class="article-title" ng-click="selectArticle($event, item)">{{item.title}}</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col view">
		<div class="article-area">
			<div class="article-header">
				<ul class="article-category">
					<li ng-repeat="category in article.category"><a ng-click="load(category.id)">{{category.name}}</a></li>
				</ul>
				<h1 class="article-title">{{article.title}}</h1>
				<div class="article-info">
					<!-- <span class="article-updated">{{article.updated|date:"yyyy년 M월 d일"}}</span> -->
					<a ng-click="viewHistory()" class="article-history-toggle" data-toggle="collapse" data-target=".article-history"><i class="ti-alarm-clock"></i> 바뀐 내역 자세히...</a>
					<a ng-click="goReply()" target="for-content" class="article-reply"><i class="ti-comment"></i> 댓글보기 <span class="article-reply-count">{{article.comment||""}}</span></a>
				</div>
				<div class="article-empty">
					<i class="ti-clipboard"></i>
					<div>열람 대상을 선택해주세요.</div>
				</div>
				<div class="article-history clearfix">
					<ul>
						<li ng-repeat="version in article.versions">
							<blockquote>
								<pre>{{version.message}}</pre>
								<small>{{version.created|date:"yyyy년 M월 d일 H시 m분"}}</small>
							</blockquote>
						</li>
					</ul>
				</div>
			</div>
			<div class="article-body">
				<div id="article-content"><iframe id="for-content" name="for-content" ng-src="{{article.url}}"></iframe></div>
			</div>
		</div>
	</div>
</div>

<div id="write-reply" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">새로운 회신문</h4>
			</div>
			<form method="post" name="save" action="/reply/save" target="for-save" enctype="multipart/form-data" class="modal-body">
				<div class="form-group">
					<label for="title"><span>제목</span></label>
					<div><input type="text" id="title" name="title" class="form-control"></div>
				</div>

				<div class="form-group">
					<label><span>분류</span></label>
					<div class="row">
						<div class="col-md-4">
							<select class="form-control" ng-model="selectedPCode">
								<option value=""></option>
								<option ng-repeat="i in pcodes" value="{{i.id}}">{{i.name}}</option>
							</select>
						</div>
						<div class="col-md-8">
							<select name="categoryId" class="form-control" ng-model="categoryId">
								<option ng-repeat="i in codes" value="{{i.id}}">{{i.name}}</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group for-etc">
					<label for="etc"><span>변경사항 메모</span></label>
					<div><input type="text" id="etc" name="etc" class="form-control"></div>
				</div>
				
				<div class="form-group">
					<label for="hwpfile"><span>한글(HWP)파일</span></label>
					<div class="file-area"><input type="file" id="hwpfile" name="hwpfile"></div>
				</div>
				<div class="form-group">
					<label for="docfile"><span>워드(DOC,DOCX)파일</span></label>
					<div class="file-area"><input type="file" id="docfile" name="docfile"></div>
				</div>
				<div class="form-group">
					<label for="htmlfile"><span>HTML(이미지와함께압축된)파일</span></label>
					<div class="file-area"><input type="file" id="htmlfile" name="htmlfile"></div>
				</div>

				<div class="btn-area">
					<button type="submit" class="btn btn-primary">저장</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
				<input type="hidden" name="no">
			</form>
		</div>
	</div>
	<iframe name="for-save" class="conceal"></iframe>
</div>

<div class="waiting">
	<div class="waiting-circle">
		<svg class="waiting-circle" viewBox="25 25 50 50">
	      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
	    </svg>
    </div>
	<div class="waiting-message"></div>
</div>