@charset "utf-8";

.search-category {
	background-color: #f5f5f5;
	/* border-right: 1px solid #b8d0e7;
	width: 380px; */
}

.search-category.input-group>.input-group-addon {
	background-color: transparent;
	border: 0;
	font-size: 25px;
	padding-left: 25px;
}
.search-category .keyword {
	background-color: transparent;
	border: 0;
	display: block;
	font-size: 18px;
	font-weight: 300;
	height: 60px;
	line-height: 60px;
	outline: 0;
	width: 100%;
}
.search-types {
	display: none;
	height: 44px;
	padding: 10px;
}
#search-type {
	border-collapse: collapse;
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
}
#search-type>li {
	border: 1px solid #ddd;
	color: #aaa;
	cursor: pointer;
	display: table-cell;
	height: 22px;
	text-align: center;
	vertical-align: middle;
}
#search-type>li.active {
	background-color: #ddf5ff;
}
#search-type>li.active,
#search-type>li:hover {
	color: #369;
}

#rank {
	float: right !important;
	line-height: 60px;
	padding-right: 15px;
	position: relative;
}
.rank-caption {
	color: #aaa;
	float: left;
	font-size: 16px;
}
.rank-list {
	float: left;
	font-size: 14px;
	max-width: 200px;
	position: relative;
	top: 0;
	transition: top 500ms;
}
.rank-list>li>a {
	white-space: nowrap;
}
#rank.open {
	position: absolute;
	right: 15px;
	top: 0;
}
#rank.open .rank-caption {
	display: none;
}
#rank.open .rank-list {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 0 #eee;
	left: 10px;
	max-width: none;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 15px;
	top: 20px !important;
	z-index: 11;
}
#rank.open .rank-list>li {
	height: 30px;
	line-height: 30px;
	padding-right: 25px;
}

.list {
	border-right: 1px solid #b8d0e7;
	height: 100%;
	width: 380px;
}

.list-info {
	border-bottom: 1px solid #eee;
	height: 25px;
	line-height: 25px;
}
.row-count {
	float: left;
	font-size: 13px;
	padding: 0 15px;
}
.list-order {
	float: right;
	padding: 0 15px;
	text-align: right;
}
.list-order>a {
	color: #55bbff;
	font-size: 13px;
}
.list-order>a:hover {
	text-decoration: none;
}
.list-order>.dropdown-menu {
	font-size: 14px;
}
.list-order i.empty::before {
	display: inline-block;
	content: " ";
	width: 20px;
}

#article-list {
	clear: both;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.article-items {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 100%;
}
.article-items>.selected .article-category {
	color: #bbb;
}
.article-items>.selected .article-title:hover {
	background-color: transparent;
}
.article-info {
	border-top: 1px solid #eee;
	color: #555;
	margin-left: 30px;
	padding: 10px;
	position: relative;
}
.article-info.selected {
	background-color: #ddd;
}

.article-items>li:first-child>.article-info {
	border-top: none;
}
.article-info:hover {
	text-decoration: none;
}
.article-info>i {
	font-size: 20px;
	left: -20px;
	position: absolute;
}
.article-info>.article-corp {
	color: #aaa;
	display: inline-block;
	font-size: 16px;
	width: 75%;
}
.article-info>.article-corp>.article-group:not(:empty)::before {
	content: "(";
}
.article-info>.article-corp>.article-group:not(:empty)::after {
	content: ")";
}
.article-category {
	color: #ccc;
	float: left;
	list-style: none;
	margin: -4px 0 0;
	padding: 0;
	width: 75%;
}
.article-category>li {
	display: inline-block;
}
.article-category>li::before {
	content: "〈";
	margin: 0 3px;
}
.article-category>li:first-child::before {
	content: "";
	margin: 0;
}
.article-category a {
	color: inherit;
	font-size: 12px;
	letter-spacing: -1px;
	white-space: nowrap;
}
.article-category a:hover {
	color: #000;
	text-decoration: none;
}
.article-info>.article-time {
	color: #aaa;
	font-size: 12px;
}
.article-info>.article-time:empty {
	display: none;
}
.article-info>.article-comment {
	color: #aaa;
	display: inline-block;
	float: right;
	font-size: 12px;
	text-align: right;
	width: 25%;
}
.article-info>.article-comment:not(:empty)::before {
	content: "댓글 ";
	padding-bottom: 7px;
}
.article-info>.article-comment:not(:empty)::after {
	content: "개";
}
.article-info>.article-title {
	clear: both;
	color: #555;
	display: block;
}
.article-info>.article-title:hover {
	background-color: #ddd;
	text-decoration: none;
}

.view {
	background-color: #fff;
	bottom: 0;
	left: 0;
	margin-left: 380px;
	position: absolute;
	right: 0;
	top: 0;
}
.article-area {
	display: table;
	height: 100%;
	overflow: auto;
	padding: 20px 0 0 20px;
	position: relative;
	width: 100%;
}
.article-header {
	border-bottom: 1px solid #eee;
	position: relative;
}
.article-header>.article-category a {
	font-size: 16px;
}
.article-header>.article-title {
	clear: both;
	font-size: 30px;
	margin: 0;
	padding: 10px 0;
	position: relative;
}
.article-header>.article-info {
	border-top: none;
	height: 40px;
	margin-left: 0;
}
/* .article-header>.article-title:empty+.article-info {
	display: none;
} */
.article-empty {
    background-color: #fff;
    color: #ccc;
    display: none;
    font-size: 30px;
    height: 500px;
    padding-top: 100px;
	position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
    z-index: 10;
}
.article-empty>i {
	font-size: 7em;
	margin-bottom: 1.4em;
}
.article-header>.article-title:empty+.article-info+.article-empty {
	display: block;
}
.article-reply {
	margin-right: 20px;
}
.article-reply-count:not(:empty)::before {
	content: "("
}
.article-reply-count:not(:empty)::after {
	content: ")"
}
.article-reply,
.article-history-toggle {
	float: right;
	font-size: 14px;
}
.article-history {
	display: none;
}
.article-history ul {
	color: #bbb;
	float: right;
	list-style: none;
}
.article-history ul>li:first-child {
	color: #000;
}
.article-history blockquote {
	margin: 0;
}
.article-history blockquote>pre {
    background: none;
    border: 0;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.article-history blockquote>small {
	color: inherit;
} 
.article-body {
	position: relative;
}
#article-content {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
#article-content>div {
	margin: 20px 20px 50px;
}
#for-content {
	border: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#fn-buttons>a {
	vertical-align: middle;
}
#fn-buttons>a.bold {
	opacity: 1;
}
#fn-buttons>a>img {
	height: 30px;
	vertical-align: baseline;
	width: 30px;
}

.file-attached {
	list-style: none;
	margin: 20px;
	padding: 0;
}

.waiting-reply {
	left: auto;
	margin: 0 auto;
	top: auto;
}

.note-editor .note-dropzone { opacity: 0 !important; }

.list-main {
	padding: 30px;
}