@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../fonts/noto/notokr-demilight.eot),
    url(../fonts/noto/notokr-demilight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/noto/notokr-demilight.woff2) format('woff2'),
    url(../fonts/noto/notokr-demilight.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../fonts/noto/notokr-regular.eot),
    url(../fonts/noto/notokr-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/noto/notokr-regular.woff2) format('woff2'),
    url(../fonts/noto/notokr-regular.woff) format('woff');
}


@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../fonts/noto/notokr-bold.eot),
    url(../fonts/noto/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/noto/notokr-bold.woff2) format('woff2'),
    url(../fonts/noto/notokr-bold.woff) format('woff');
}

