*{margin:0;padding:0;font-style:normal;list-style:none;}

body{font:13px "Nanum Gothic","NanumGothic","나눔고딕","나눔 고딕","맑은고딕","맑은 고딕",dotum;color:#555;}
button{font:12px "Nanum Gothic"}
label,
button{cursor:pointer;}
a{color:#555;text-decoration:none;}
a:hover{text-decoration:underline;}
table{width:100%;border-collapse:collapse;}
input.text{font-family:Arial; width:70px; padding:0 10px 0 10px; border:solid 1px #e0e0e0; height:24px; line-height:24px; font-size:13px;color:#666;text-align:center;}
input.textleft{font-family:Arial; width:70px; padding:0 10px 0 10px; border:solid 1px #e0e0e0; height:24px; line-height:24px; font-size:13px;color:#666;text-align:left;}
input.textright{font-family:Arial; width:70px; padding:0 10px 0 10px; border:solid 1px #e0e0e0; height:24px; line-height:24px; font-size:13px;color:#666;text-align:right;}
input.text.int1,
input.text.date,
input.text.name,
input.text.int{text-align:center;}
input.text.name{width:55px;}
input.text.int1{width:22px;}
select{height:24px;}
select.select.int3,
select.select.int4{width:62px;}
input.text.int3,
input.text.int4{width:32px;}

input.text.addr{width:180px;}
input.text.addr2{width:180px;}

input.text.large{width:112px;}
input.text.big{width:200px;}

input.text.file{width:350px;}
select.select{width:145px;}
select.select.email{width:122px;}
input.fake{display:none;}
code{display:block;margin-bottom:10px;}
code textarea{border:solid 1px #ddd;height:150px;font-family:system;border:solid 1px #ddd;width:100%;overflow-y:scroll;}

input.text.name_br{text-align:left; }
input.text.name_fo{padding:0; width:90%; height:100%; }
textarea{font-family:Arial; padding:0 10px 0 10px; border:solid 1px #e0e0e0; font-size:13px; color:#666;}

/***************************************************** file-upload */
.ui-file{}
.ui-file .NFI-button{float:right !important;border:0;border-radius:2px;padding:0 15px 0 15px;height:24px;line-height:24px;background:#5f666c;color:#fff;text-align:center;font-size:12px;margin-left:5px;}
.ui-file .NFI-filename{float:left !important;display:inline-block;margin-right:5px;font-family:dotum;padding:0 10px 0 10px;border:solid 1px #e0e0e0;height:24px;line-height:24px;font-size:13px;color:#666;white-space:pre;overflow:hidden;}

/***************************************************** layout */
#egg{position:relative;z-index:1;*zoom:1;}
#egg #container{position:relative;z-index:2;*zoom:1;}
#egg #container .header{position:relative;z-index:10;*zoom:1;}
#egg #container .body{position:relative;z-index:3;*zoom:1;}
#egg #container .body:after{content:"";display:block;clear:both;}
#egg #container .body .aside{position:relative;z-index:5;*zoom:1;}
#egg #container .body .contents{position:relative;z-index:4;*zoom:1;}
#egg #container .footer{position:relative;z-index:6;*zoom:1;}

.wrap{position:relative;margin:0 auto; width:1164px;}

/* layout-debug-grid */
#egg #container,
#egg #container .header,
#egg #container .body .aside,
#egg #container .body .contents,
#egg #container .footer{\border:solid 1px red;}

/* layout */
#egg #container{}
#egg #container .body .aside,
#egg #container .body .contents{min-height:580px;}
#egg #container .body .aside{float:left;width:180px;}
#egg #container .body .contents{float:right; width:964px;}

/* 상단간격과 로고 조정 2015-06-23 */
.header{margin-bottom:16px;border-bottom:solid 1px #e4e4e4;}
.header .wrap{height:32px;padding-top:20px;}
.header .wrap{height:32px;}
#container.page .header{border:0;}
#container.page .header .wrap{height:40px;padding-top:11px;}
.header .title{} 
.header .title,
.header .title a{display:block;width:277px;height:42px;}
.header .title a{background:url(/img/img_logo.gif) 0 0 no-repeat;text-indent:-5000px;}
.header .home{position:absolute;top:22px;right:0;}
.header .msg_logged_in{position:absolute;top:15px;left:0;width:180px;font-size:11px;letter-spacing:-1px;color:#999;line-height:15px;}
.header .msg_logged_in li{width:170px;white-space:pre;overflow:hidden;}
.header .msg_logged_in span{display:inline-block;width:52px;margin-right:5px;text-align:right;}
.header .msg_logged_in em{margin-left:5px;}
.header .alogin{position:absolute;top:19px;left:300px;}


/* 왼쪽 사이드 메뉴 2015-06-23 */
.body{}
.body .aside a{text-decoration:none;}
.body .aside .title{position:relative;height:82px;background:#3baadf url(/img/bg_aside_pattern.png) 0 0 repeat;border-top-left-radius:2px;border-top-right-radius:2px;color:#fff;font-size:13px;}
.body .aside .title.hand{}
.body .aside .title.hand dl{padding:19px 0 0 10px;}
.body .aside .title.hand dl:after{content:"";display:block;clear:both;}
.body .aside .title.hand dl dt{float:right;margin:5px 10px 0 0;width:33px;height:31px;background-image:url(/img/bg_aside.png);background-position:0 0;background-repeat:no-repeat;text-indent:-5000px;}
.body .aside .title.hand dl dd{float:left;margin-left:10px;padding-top:0;width:100px;line-height:22px;font-size:14px;font-weight:700;}
.body .aside ul{border:solid 1px #ccc;border-top:none;border-bottom:none;}
.body .aside ul li.dummy{display:none;}
.body .aside ul li{padding-top:1px;}
.body .aside ul li a{display:block;padding-left:20px;background:#d2ebf4 url(/img/bg_aside_ul.png) 151px 15px no-repeat;color:#1052a1;line-height:39px;cursor:default;font-weight:700;font-size:13px;}
.body .aside ul li.active a{background-color:#1052a1;color:#fff;background-position:151px -53px;}
.body .aside ul li ul{background:#f5f7f8;padding:8px 0;border:none;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.body .aside ul li li{padding-top:0;}
.body .aside ul li ul ul{margin:0 10px;border-top:none;background:url(/img/dot.gif) 0 bottom repeat-x;border-bottom:none;}
.body .aside ul li li a{padding:5px 4px 5px 28px;background:#f5f7f8 url(./img/bg_aside_ulul.gif) 20px 15px no-repeat;color:#555;line-height:18px;cursor:pointer;font-weight:normal;font-size:13px;}
.body .aside ul li li a:hover{color:#1052a1;text-decoration:underline;}
.body .aside ul li.active li a{background-color:#f5f7f8;color:#555;background-position:20px 15px;}
.body .aside ul li.active li.active a{color:#1052a1;font-weight:800;}
.body .aside ul li.active li a:hover{}
.body .aside ul li li li{padding-top:0;}
.body .aside ul li li li a{padding-top:0;background:none;font-size:12px;line-height:16px;background:url(./img/spt_aside_3depth.gif) 20px -48px no-repeat;}
.body .aside ul li li li.active a{background:url(./img/spt_aside_3depth.gif) 20px 7px no-repeat;}
.body .aside ul li.active li li a{background-color:none;color:#1052a1;background:url(./img/spt_aside_3depth.gif) 20px -48px no-repeat;}
.body .aside ul li.active li li a{color:#555;font-weight:normal;}
.body .aside ul li.active li.active li a{color:#555;font-weight:normal;}
.body .aside ul li.active li li a:hover{}

.tr_list_bg{background-color:#e0e0e0;}

.location{position:absolute;top:22px;right:0;margin:0 0 0 0;}
.location ol{}
.location ol:after{content:"";display:block;clear:both;}
.location ol li{float:left;height:19px;line-height:19px;padding-right:30px;background:url(./img/bg_location.gif) right -30px no-repeat;}
.location ol li.home{position:static;top:0;right:0;}
.location ol li.home a{display:block;width:19px;height:19px;background:url(./img/bg_location.gif) 0 3px no-repeat;}
.location ol li.home em{position:absolute;top:-2000px;}
.location ol li a:hover{text-decoration:underline;color:#145e8c;}
.location ol li:last-child{font-weight:bold;padding-right:0;background:none;}

.fake_tab{margin-bottom:40px;}

.contents h1{margin-bottom:15px;font-size:30px;color:#000;}

.footer{margin-top:90px;padding:15px 0 140px 0;border-top:solid 1px #e4e4e4;text-align:center;color:#999;font-size:11px;line-height:180%;}
/* 버튼 정의 */
.btn-arrow{}
.btn-arrow *{display:inline-block;height:33px;line-height:33px;}
.btn-arrow a{padding-left:19px;background:url(/img/bg_button_go.gif) left 0 no-repeat;font-size:13px;color:#2e3541;line-height:22px;}
.btn-arrow a:hover em{text-decoration:underline;}
.btn-arrow em{padding-right:31px;background:url(/img/bg_button_go.gif) right 0 no-repeat;}
.btn-arrow.hover a:hover{color:#fff;}
.btn-arrow.hover a:hover{background-position:left -33px;}
.btn-arrow.hover a:hover em{background-position:right -33px;text-decoration:none;}


/* 로그아웃버튼 2015-06-23 */
.btn-login{}
.btn-login *{display:inline-block;height:23px;line-height:23px;}
.btn-login a{padding:0 16px;font-size:12px;color:#2e3541;line-height:20px;border:solid 1px #ccc;border-radius:2px;text-align:center;}
.btn-login a:hover{text-decoration:underline;}



.contents .section{margin-bottom:36px;}
.contents .section:last-child{margin-bottom:0;}
.contents .section .title{margin-bottom:11px;font-size:13px;}
.contents .section .title h2{font-size:13px;font-weight:700;}
.contents .section .title:after{content:"";display:block;clear:both;}
.contents .section .title .left{float:left;}
.contents .section .title .right{float:right;}
.contents .section .title .list-horizen-array{margin-right:0px;}
.contents .section .title .list-horizen-array ul{margin-right:-20px;}
.contents .section .title .list-horizen-array ul:after{content:"";display:block;clear:both;}
.contents .section .title .list-horizen-array ul li{float:left;margin-right:20px;}
.contents .section .title .list-horizen-array ul li *{vertical-align:middle;}

.all_left{float:left;}
.all_right{float:right;}




.eggtable{position:relative;border:solid 1px #000;border-left:none;border-right:none;font-size:13px;overflow:hidden;}
.eggtable table{margin:-1px 0 0 -1px;}
.eggtable table + table{margin-top:5px;}
.eggtable th,
.eggtable td{height:26px;line-height:28px;padding:4px 10px;border:solid 1px #ededed;border-right:none;}
.eggtable th{color:#000;font-weight:normal;letter-spacing:-1px;}
.eggtable .no,
.eggtable .checkbox{font:11px Arial;text-align:center;}
.eggtable .date,
.eggtable .name{text-align:center;}
.eggtable td.date{font-size:11px;}

.eggtable2{position:relative; width:700px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden;}
.eggtable2 table{margin:-1px 0 0 -1px;}
.eggtable2 table + table{margin-top:5px;}
.eggtable2 th,
.eggtable2 td{height:26px;line-height:28px;padding:4px 10px;border:solid 1px #ededed;border-right:none;}
.eggtable2 th{color:#000;font-weight:normal;letter-spacing:-1px;}
.eggtable2 .no,
.eggtable2 .checkbox{font:11px Arial;text-align:center;}
.eggtable2 .date,
.eggtable2 .name{text-align:center;} 
.eggtable2 td.date{font-size:11px;}

.eggtable3{float:left; width:500px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden;}
.eggtable3 table{margin:-1px 0 0 -1px;}
.eggtable3 table + table{margin-top:5px;}
.eggtable3 th,
.eggtable3 td{height:26px;line-height:28px;padding:4px 10px;border:solid 1px #ededed;border-right:none;}
.eggtable3 th{color:#000;font-weight:normal;letter-spacing:-1px;}
.eggtable3 .no,
.eggtable3 .checkbox{font:11px Arial;text-align:center;}
.eggtable3 .date,
.eggtable3 .name{text-align:center;} 
.eggtable3 td.date{font-size:11px;}

.eggtable4{float:left; width:450px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden; }
.eggtable4 table{margin:-1px 0 0 -1px;}
.eggtable4 table + table{margin-top:5px;}
.eggtable4 th,
.eggtable4 td{height:26px;line-height:28px;padding:4px 10px;border:solid 1px #ededed;border-right:none;}
.eggtable4 th{color:#000;font-weight:normal;letter-spacing:-1px;}
.eggtable4 .no,
.eggtable4 .checkbox{font:11px Arial;text-align:center;}
.eggtable4 .date,
.eggtable4 .name{text-align:center;} 
.eggtable4 td.date{font-size:11px;}


.eggtable_scroll{position:relative; width:1360px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden;  }
.eggtable_scroll table{margin:-1px 0 0 -1px;}
.eggtable_scroll table + table{margin-top:5px;}
.eggtable_scroll td{height:14px; padding:1px 1px ; border:solid 1px #ededed; border-right:none;}
.eggtable_scroll th{height:24px;  line-height:20px; color:#000; border:solid 1px #ededed; border-right:none; font-weight:normal;letter-spacing:-1px; background-color:#84C1FF;}
.eggtable_scroll .no,
.eggtable_scroll .date,
.eggtable_scroll .name{text-align:center;} 
.eggtable_scroll .nameL{text-align:left;} 
.eggtable_scroll .nameR{text-align:right; padding:0 5px 0 0; }
.eggtable_scroll td.date{font-size:11px;}

.tr_list_bg002{background-color:#e0e0e0; height:24px; font-weight:bold;}

.btnarea{margin-top:20px;text-align:center;}
.btnarea:after{content:"";display:block;clear:both;}
.btnarea .left{float:left;}
.btnarea .right{float:right;}
.btn button + button {margin:5px 5px 5px 0;}
.btn.normal,
.btn.blue{height:29px;line-height:29px;}
.btn.normal button,
.btn.blue button{border:0;border-radius:2px;padding:0 15px;min-width:73px;height:29px;line-height:29px;background:#1052a1;color:#fff;text-align:center;font-size:12px;}
.btn.orange{height:29px;line-height:29px;}
.btn.orange button{border:0;border-radius:2px;padding:0 15px;min-width:73px;height:29px;line-height:29px;background:orange;color:#fff;text-align:center;font-size:12px;}
.btn.normal button{background:#5f666c;}
.btn.normal,
.btn.blue button:hover{text-decoration:underline;}
.btn.blue.large{height:66px;line-height:66px;}
.btn.blue.large button{height:66px;line-height:66px;width:55px;}
.btn.gray{height:24px;line-height:24px;}
.btn.gray button{border:0;border-radius:2px;padding:0 15px 0 15px;height:24px;line-height:24px;background:#5f666c;color:#fff;text-align:center;font-size:12px;}
.btn.gray button:hover{text-decoration:underline;}
.btn.red{height:29px;line-height:29px;}
.btn.red button{border:0;border-radius:2px;padding:0 15px 0 15px;height:24px;line-height:24px;background:red;color:#fff;text-align:center;font-size:12px;}
.btn.red button:hover{text-decoration:underline;}

.login{margin:85px auto 110px auto;width:750px;}
.login_wrap{position:relative;border:solid 1px #ccc;border-radius:5px;background:url(/img/img_lock.gif) 90px 50px no-repeat;}
.login .title{margin-bottom:23px;}
.login .title h1{margin-bottom:5px;font-size:40px;color:#000;}
.login .title p{font-size:17px;color:#555;}
.login .login_form{position:relative;margin:75px auto;width:630px;}
.login .login_form .field{position:relative;padding-left:160px;margin-bottom:10px;}
.login .login_form .field label{display:inline-block;width:100px;margin-right:15px;text-align:right;color:#000;font-weight:bold;font-size:15px;}
.login .login_form .field input.text{width:190px;border-color:#656c71;height:36px;line-height:36px;font-size:18px;color:#000;font-weight:800;}
.login .login_form button.submit{position:absolute;top:0px;right:0;width:125px;height:82px;line-height:82px;background:#1052a1;color:#fff;border-radius:2px;border:none;font-size:15px;}
.login .login_form .field .mb_id_save{position:absolute;top:4px; left:280px;}
.login .login_form .field .mb_id_save *{vertical-align:middle;}
.login .login_form .field .mb_id_save label{width:auto;margin-right:5px;font-weight:normal;font-size:14px;}

.login .link{width:630px;margin:20px auto;padding-top:20px;border-top:solid 1px #e2e2e2;text-align:center;}
.login .link_ip{width:630px;margin:20px auto;padding-top:25px; padding-left:70px; text-align:center;}

#egg-tab{margin-bottom:40px;}

.stTabsMainWrapper{margin-bottom:40px !important;width:100% !important;}
.stPrev{left:0 !important;}
.stNext{right:28px !important;}
.tabs {width:100%;}
.ui-tabs-panel{min-height:440px;padding:0 !important;}
.ui-widget-header{background:#fff;border:none;}
.ui-widget-content{background:#fff;border:none;}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{font-family:"Nanum Gothic";font-size:12px;background:skyblue;} /* tab-컬러변경 */
.ui-tabs-selected,
.ui-tabs-selected a{background:#fff !important;color:#1052a1 !important;font-family:"Nanum Gothic";font-size:12px;}
.ui-tabs-nav{position:relative;margin-bottom:40px;border-bottom:solid 1px #ccc;z-index:5;overflow:hidden;}
.ui-state-default{position:relative;border:solid 1px #93989c !important;width:160px;z-index:17;}
.ui-state-default a{color:#fff !important;display:block;}
.ui-state-default a:hover{text-decoration:underline !important;cursor:pointer;}
.ui-tabs-selected a:hover{text-decoration:none !important;}
.ui-state-default,
.ui-state-default a{border-top-left-radius:3px;border-top-right-radius:3px;}
.ui-state-default a{float:none !important;}
.ui-tabs-close{position:absolute;top:0px;right:3px;}
.ui-state-active{border:solid 1px #c5cace !important;border-bottom:none !important;position:relative;top:0;z-index:4455;}
.ui-state-active a{color:#1052a1 !important;background:#fff;}

.ui-tabs{}
.ui-icon-carat-1-w{margin-top:0 !important;width:22px;background:#fff url(./img/spt_tab.png) 0px 6px no-repeat !important;height:30px;}
.ui-icon-carat-1-e{margin-top:0 !important;width:52px;background:#fff url(./img/spt_tab.png) 3px -24px no-repeat !important;height:30px;}
.ui-icon-close{margin-top:8px !important;width:13px !important;height:13px !important;background:transparent url(./img/spt_tab.png) 3px -99px no-repeat !important;}

.ui-state-active .ui-icon-close{background:transparent url(./img/spt_tab.png) 1px -124px no-repeat !important;}
.ui-state-default.ui-state-hover .ui-icon-close{background:transparent url(./img/spt_tab.png) -47px -99px no-repeat !important;}

.ui-state-active .ui-icon-close{background:transparent url(./img/spt_tab.png) -47px -126px no-repeat !important;}
.ui-state-active.ui-state-hover .ui-icon-close{background:transparent url(./img/spt_tab.png) -47px -126px no-repeat !important;}

.status_board{position:relative;margin:120px auto 0 auto;width:909px;height:300px;background:url(./img/bg_main_board.png) 0 0 no-repeat;}
.status_board .arrange{position:absolute;top:0;}
.status_board .arrange.left{left:0px;}
.status_board .arrange.center{left:330px;}
.status_board .arrange.right{right:0px;}
.status_board .arrange a{display:block;width:248px;height:308px;border:solid 1px #fff;}
.status_board .arrange a:hover{border:solid 1px #fff;}
.status_board .arrange h1{text-indent:-20000px;}
.status_board .arrange dl{position:absolute;left:11px;top:215px;width:257px;text-align:center;}
.status_board .arrange dl dt{letter-spacing:-1px;padding-left:7px;background:url(./img/bg_dot.png) 0 6px no-repeat;}
.status_board .arrange dl dd{min-width:28px;text-align:left;}
.status_board .arrange dl dt,
.status_board .arrange dl dd{display:inline-block;font-size:13px;}
.status_board .arrange dl dt.red,
.status_board .arrange dl dd.red{color:#df0101;}
.status_board .arrange dl dt.black,
.status_board .arrange dl dd.black{color:black;}
.status_board .arrange dl dt.blue,
.status_board .arrange dl dd.blue{color:#0b57be;}

.stNext,
.stPrev{border:none !important;}
.stNav{height:19px !important;width:19px !important;}
.allclose{position:absolute;top:0;right:-3px;width:50px;height:40px;background:#fff;z-index:999;}
#allclose{position:absolute;top:10px;right:0px;z-index:999;width:19px;height:19px;text-indent:-20000px;border:none;background:#fff url(./img/spt_tab.png) 0px -63px no-repeat !important;}
iframe{border:none;width:100%;overflow:hidden;overflow:hidden;}
#switcher {position:fixed;right:70px;top:120px;}
pre {padding:10px;border:1px solid #ccc;background:none !important;}


.elayer{display:none;position:absolute;top:0px;left:0;padding:21px;border:solid 3px #1052a1;width:500px;background:#fff;z-index:9999999999;font-size:13px;}
.elayer.scrolling{height:400px;overflow-y:scroll;}
.elayer.active{display:block;}
.elayer .feature{position:relative;}
.elayer .feature .title{margin-bottom:11px;padding-left:24px;background:url(./img/img_tit.gif) 0 0 no-repeat;line-height:17px;font-size:15px;font-weight:bold;}
.elayer .layer_table{overflow:hidden;}
.elayer .layer_table table{margin-left:-1px;}
.elayer .layer_table thead th{border-top:solid 1px #000000;background:#e0e0e0;}
.elayer .layer_table th,
.elayer .layer_table td{padding:0 11px 0 11px;height:36px;line-height:36px;border:solid 1px #ededed;border-right:none;}
.elayer .layer_table th,
.elayer .layer_table td{text-align:center;}
.elayer .layer_table tr.active th,
.elayer .layer_table tr.active td{background:#fffbb2;}
.elayer .layer_table .left{text-align:left;}
.elayer .layer_table .right{text-align:right;}
.elayer .layer_table .right{text-align:right;}

.elayer2{display:none;position:absolute;top:480px;left:500px;padding:21px;border:solid 3px #1052a1;width:400px;background:#fff;z-index:9999999999;font-size:13px;}
.elayer2.scrolling{height:400px;overflow-y:scroll;}
.elayer2.active{display:block;}
.elayer2 .feature{position:relative;}
.elayer2 .feature .title{margin-bottom:11px;padding-left:24px;background:url(./img/img_tit.gif) 0 0 no-repeat;line-height:17px;font-size:15px;font-weight:bold;}
.elayer2 .layer_table{overflow:hidden;}
.elayer2 .layer_table table{margin-left:-1px;}
.elayer2 .layer_table thead th{border-top:solid 1px #000000;background:#e0e0e0;}
.elayer2 .layer_table th,
.elayer2 .layer_table td{padding:0 11px 0 11px;height:36px;line-height:36px;border:solid 1px #ededed;border-right:none;}
.elayer2 .layer_table th,
.elayer2 .layer_table td{text-align:center;}
.elayer2 .layer_table tr.active th,
.elayer2 .layer_table tr.active td{background:#fffbb2;}
.elayer2 .layer_table .left{text-align:left;}
.elayer2 .layer_table .right{text-align:right;}
.elayer2 .layer_table .right{text-align:right;}

.graph{position:relative;width:100%;height:12px;background:#ededed;border-radius:5px;}
.graph .progress{position:absolute;top:0;left:0;height:12px;background:#1052a1;border-radius:5px;}

.elayer .close{position:absolute;top:0;right:0;border:0;background:#fff;width:23px;height:23px;background:url(./img/btn_close.gif) 0 0 ;}
.elayer .close span{position:absolute;top:-2000px;left:0;}
.elayer2 .close{position:absolute;top:0;right:0;border:0;background:#fff;width:23px;height:23px;background:url(./img/btn_close.gif) 0 0 ;}
.elayer2 .close span{position:absolute;top:-2000px;left:0;}

/***************** 생존자인쇄 2015-08-24 *****************************/
.eggprint0{position:relative; width:900px; border:solid 0px #000; border-left:none; border-right:none; font-size:26px; overflow:hidden;}
.eggprint0 th{height:50px; color:#000; font-weight:normal;letter-spacing:-1px; text-align:center;}
.eggprint0 td{height:30px; font-size:16px;  color:#000; font-weight:normal;letter-spacing:-1px; text-align:left; font-weight:bold;}

.eggprint{position:relative; width:900px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden;}
.eggprint table{margin:0px 0 0 0px;}
.eggprint table + table{margin-top:1px;}
.eggprint th,
.eggprint td{height:20px;line-height:22px; padding:1px 1px; border:solid 1px #ededed; border-right:none;}
.eggprint th{color:#000; font-weight:normal;letter-spacing:-1px; background:silver;}
.eggprint .no,
.eggprint .checkbox{font:11px Arial;text-align:center;}
.eggprint .date,
.eggprint .name{text-align:center;} 
.eggprint td.date{font-size:12px; text-align:left;}


.eggprint2{position:relative; width:120px; border:solid 1px #000; border-left:none; border-right:none; font-size:13px; overflow:hidden;}
.eggprint2 th{height:30px; color:#000; font-weight:normal;letter-spacing:-1px; background:silver;}


.eggprint3{position:relative; width:120px; border:solid 0px #000; border-left:none; border-right:none; font-size:12px; overflow:hidden;}
.eggprint3 th{height:30px; color:#000; font-weight:normal;letter-spacing:-1px; text-align:left;}

.eggprint4{position:relative; width:900px; border:solid 1px #000; border-left:none; border-right:none; font-size:11px; overflow:hidden;}
.eggprint4 td{height:20px;line-height:18px; padding:0px 0px; border:solid 1px #ededed;  }
.eggprint4 th{color:#000; font-weight:normal;letter-spacing:-1px; background:silver;}
.eggprint4 td.date13{font-size:13px; padding:5px 1px;}

.eggprint5{position:relative; width:1400px; border:solid 1px #000; font-size:11px; overflow:hidden;}
.eggprint5 table{margin:0px 0 0 0px;}
.eggprint5 table + table{margin-top:1px;}
.eggprint5 th,
.eggprint5 td{height:20px;line-height:22px; padding:1px 1px; border:solid 1px #ededed; border-right:none; font-size:10px;}
.eggprint5 th{color:#000; font-weight:normal;letter-spacing:-1px; background:silver;}
.eggprint5 .no,
.eggprint5 .checkbox{font:11px Arial;text-align:center;} 
.eggprint5 .date,
.eggprint5 .name{text-align:center;} 
.eggprint5 td.date{font-size:10px; text-align:left;}
.eggprint5 .text1{font-size:12px; text-align:center}

.eggprint5 .contents0{font-size:13px; text-align:center}
.eggprint5 .contents1{font-size:13px; text-align:left;}
.eggprint5 .font11_left{font-size:11px; text-align:left;}
.eggprint5 .font11_center{font-size:11px; text-align:center;}
.eggprint5 .font13_left{font-size:13px; text-align:left;}
.eggprint5 .font13_center{font-size:13px; text-align:center;}
.eggprint5 .font15_left{font-size:15px; text-align:left; padding-left:10px; padding-top:20px; padding-bottom:20px;}
.eggprint5 .font15_center{font-size:15px; text-align:center;}
.eggprint5 .font17_left{font-size:17px; text-align:left;}
.eggprint5 .font17_center{font-size:17px; text-align:center;}
.eggprint5 .tr_height{height:660px;}


.eggprint6{margin:0px 0 0 100px;;  position:relative; width:1200px; border:solid 1px #000;  font-size:13px; overflow:hidden; }
.eggprint6 table{margin:0px 0 0 0px;}
.eggprint6 table + table{margin-top:1px;}
.eggprint6 th,
.eggprint6 td{height:40px; line-height:22px; padding:1px 1px; border:solid 1px #ededed; border-right:none; font-size:13px;}
.eggprint6 th{color:#000; font-weight:normal;letter-spacing:-1px; background:silver;}
.eggprint6 .no,
.eggprint6 .checkbox{font:11px Arial;text-align:center;} 
.eggprint6 .date,
.eggprint6 .name{text-align:center;} 
.eggprint6 td.date{font-size:10px; text-align:left;}

.eggprint6 .height{height:80px; font-size:18px; text-align:center; font-weight:bold; }
.eggprint6 .height2{height:220px; font-size:22px; text-align:center; }
.eggprint6 .height3{height:90px; font-size:22px; text-align:center; font-weight:bold; }
.eggprint6 .height4{font-size:18px; padding-left:10px; padding-top:50px; }

.eggprint7{position:relative; width:1400px; border:solid 1px #000; border:none;  font-size:13px; overflow:hidden;}
.eggprint7 .height {height:80px; line-height:22px; padding:1px 1px; font-size:20px; text-align:center; font-weight:bold;}

/***************** 생존자인쇄 2015-08-24 *****************************/

/*
도움말 p태그 추가
*/

.helpx .feature .title{text-align:right; top:0px;left:0; margin-bottom:11px; padding-left:24px; line-height:17px;font-size:15px;font-weight:bold;}